/* font stacks */
$sans-serif: 'Roboto', sans-serif;
$bold-title: bold 40px 'Roboto', sans-serif;
$lean-title: normal 40px 'Roboto', sans-serif;
/* color themes */
$maincolor:#3C4A6D;
$visited: #C7ECFF;
$hovercol:#283c66;
/* box shadow property */
$b-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
/* most used margin */
$margin: 30px;

/* set top margin for blog banner */
.header-container {
  margin: 0px 30px;
}
/* sets blog container dimensions and title color */
.blog-header {
    position: relative;
    text-align: center;
    color: white;
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
/* sets blog banner img dimensions */
  }
  .blog-image{
    height: auto;
    max-width: 100%;
  }
  /* set blog text over banner colors and position */
  .centered-text {
    font: $bold-title;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* blog post grid container */
  .post-it-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* indivial post container dimensions */
  .post-it-container{
    flex: 0 1 150px;
    margin: 20px;
    width: 100%;
  }
  /* publish date stylings */
  .date-text {
      color: $maincolor;
      font-size: 12px;
      font-style: italic;
      opacity: (70%);
  }
  /* post fonts sizing */
#post-content{
      font-size: 10px;
  }
#post-heading{
    font-size: 25px;
}
/* post image dimensions */
.post-img {
    width: auto;
    height:100px;
}
/* post see article text style */
.post-see{
    font-weight: bold;
    font-size: 10px;
}


@media and screen (min-width: 1600px){
  .post-content > p {
    font-size:20px;
  }
}