$phborder: 1px solid black;
/* font stacks */
$sans-serif: 'Roboto', sans-serif;
$bold-title: bold 40px 'Roboto', sans-serif;
$lean-title: normal 40px 'Roboto', sans-serif;
$maincolor:#3C4A6D;
$visited: #C7ECFF;
$hovercol:#283c66;
$b-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
$margin: 30px;

label{
    font-weight: bold;
}

.form-container{
    margin-top: 40px;
    display: flex wrap;
    width: 100%;
    align-items: stretch;
    flex: column;
}


.contact-title{
    text-align: center;
    padding: 10px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 10px;
  }
#message {
    height:200px;
}
input[type=submit]{
    height: 80px;
    font-size: 40px;
}

input[type=submit]:hover{
    filter: opacity(60%);
    cursor: pointer;
}

  /* container settings */
  fieldset {
      border-radius: 25px;
      border-color: rgba(255, 255, 255, 0.438);
      box-shadow: 0px 4px 4px 0px rgba(169, 214, 255, 0.25);
      padding: 10px;
  }

  @media screen and (min-width: 768px){
      .form-container{
          height: 70vh;
      }
      #message {
          height:400px;
      }
  }