$phborder: 1px solid black;
/* font stacks */
$sans-serif: 'Roboto', sans-serif;
$bold-title: bold 40px 'Roboto', sans-serif;
$lean-title: normal 40px 'Roboto', sans-serif;
$maincolor:#3C4A6D;
$visited: #C7ECFF;
$hovercol:#283c66;
$b-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
$margin: 30px;

label{
    font-weight: bold;
}
.contact-title{
    text-align: center;
    padding: 10px;
}
.contact-flex{
    display: flex wrap;

}
.form-container{
    margin-top: 20px;
    display: flex row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contact-details > h2 {
    font-size: 15px;
}
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 10px;
  }
#message {
    height:200px;
}
input[type=submit]{
    height: 80px;
    font-size: 40px;
}

input[type=submit]:hover{
    filter: opacity(60%);
    cursor: pointer;
}

  /* contact form settings */
  fieldset {
      border-radius: 25px;
      border-color: rgba(255, 255, 255, 0.438);
      box-shadow: 0px 4px 4px 0px rgba(169, 214, 255, 0.25);
      padding: 10px;
  }

/*  iPad 1, 2, Mini and Air  */
@media only screen and (min-device-width: 768px)and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      #message{
          height: 150px;
      }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #message{
        height: 500px;
    }
  }

   @media screen and (min-width: 1200px){
    .contact-title{
        padding: 0px;
    }
       #message{
          height:80px;
      }
    }
 