label{
    font-weight: bold;
}

.form-container{
    margin-top: 40px;
}


.contact-title{
    text-align: center;
    padding: 10px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 10px;
  }

input[type=submit]{
    height: 80px;
    font-size: 40px;
}

input[type=submit]:hover{
    background-color: #283c52;
    cursor: pointer;
}

  /* container settings */
  fieldset {
      border-radius: 25px;
      border-color: rgba(255, 255, 255, 0.438);
      box-shadow: 0px 4px 4px 0px rgba(169, 214, 255, 0.25);
      padding: 10px;
  }