$phborder: 1px solid black;
/* font stacks */
$sans-serif: 'Roboto', sans-serif;
$bold-title: bold 40px 'Roboto', sans-serif;
$lean-title: normal 40px 'Roboto', sans-serif;
$maincolor:#658fbe;
$visited: #88bfff;
$b-shadow: 0px 4px 4px 0px rgba(169, 214, 255, 0.25);

* {
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 20px;
}

.project-container{
    margin: 20px;
}
.project-container > img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.project-container > p, .project-container > h2 {
    margin: 10px;
}

.project-container > h2 {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .project-container{
        display: inline-block;
    }
    .project-container > p {
        font-size: 1.3em;

    }
    .project-container > h2, .project-container > a{
        font-size: 3em;
        text-align: left;
    }
    .project-container > img {
        max-width: 900px;
        float: left;
        margin: 30px;
    }
}