$phborder: 1px solid black;
/* font stacks */
$sans-serif: 'Roboto', sans-serif;
$bold-title: bold 40px 'Roboto', sans-serif;
$lean-title: normal 40px 'Roboto', sans-serif;
$maincolor:#658fbe;
$visited: #88bfff;
$b-shadow: 0px 4px 4px 0px rgba(169, 214, 255, 0.25);
$margin: 30px;



.project-title {
    margin: $margin;
}

.project-container{
    margin: 20px;
}
.project-container > img, .project-container > video {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.project-container > p, .project-container > h2 {
    margin: 10px;
}

.project-container > h2 {
    text-align: center;
}

.project-container > h2 > a:visited{
    color:$visited;
}

.cards-button > h1 > a > i {
    margin-right: 20px;
}

@media screen and (max-width: 600px){

    .project-container > p {
        font-size: 20px;
    }    
}

@media screen and (min-width: 601px){
        .project-container{
            display: inline-block;
        }
        .project-container > p {
            font-size: 30px;
        }
        .project-container > h2, .project-container > a{
            font-size: 3em;
            text-align: left;
        }
        .project-container > img, .project-container > video {
            max-width: 900px;
            float: left;
        }
        .project-title{
            font-size: 4em;
            text-align: center;
        }
    }

@media screen and (min-width: 769px) { 
    .project-container{
        display: inline-block;
    }
    .project-container > p {
        font-size: 1em;
    }
    .project-container > h2, .project-container > a{
        font-size: 2em;
        text-align: left;
    }
    .project-container > video {
        max-width: 50%;
        float: left;
        margin: 30px;
    }
    .project-title{
        font-size: 4em;
        text-align: center;
    }
}


