/* Error: expected "{".
 *    ,
 * 79 | @media and screen (min-width: 1600px){
 *    |                   ^
 *    '
 *   _blog.scss 79:19  @import
 *   sass.scss 4:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 79 \2502  @media and screen (min-width: 1600px){\d\a    \2502                    ^\a    \2575 \a   _blog.scss 79:19  @import\a   sass.scss 4:9     root stylesheet';
}
