/* import partials */
/* font stacks */
/* color themes */
/* box shadow property */
/* most used margin */
/* set labels to bold */
label {
  font-weight: bold;
}

/* centers contact title */
.contact-title {
  text-align: center;
  padding: 10px;
}

/* makes contact container a flex */
.contact-flex {
  display: flex wrap;
}

/* applies margin flex and content alignment in form container */
.form-container {
  margin-top: 20px;
  display: flex row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* centre contact detail info */
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* set font size to 15px */
.contact-details > h2 {
  font-size: 15px;
}

/* sets font and form box sizes */
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
  margin-bottom: 10px;
}

/* sets message box to 200px */
#message {
  height: 200px;
}

/* submit button style */
input[type=submit] {
  height: 80px;
  font-size: 40px;
}

/* submit on hover has a pointer and fades a little */
input[type=submit]:hover {
  filter: opacity(60%);
  cursor: pointer;
}

/* contact form settings */
fieldset {
  border-radius: 25px;
  border-color: rgba(255, 255, 255, 0.438);
  box-shadow: 0px 4px 4px 0px rgba(169, 214, 255, 0.25);
  padding: 10px;
}

/*  iPad 1, 2, Mini and Air  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #message {
    height: 150px;
  }
}
/* media query for ipad  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* message box scale */
  #message {
    height: 500px;
  }
}
/* media query for desktop and above */
@media screen and (min-width: 1200px) {
  /* removes padding to fit more form in */
  .contact-title {
    padding: 0px;
  }

  /* message box scale to fit */
  #message {
    height: 80px;
  }
}
/* font stacks */
/* color themes */
/* box shadow property */
/* most used margin */
/* margin around Projects heading */
.project-title {
  margin: 30px;
}

/* margin around Projects container */
.project-container {
  margin: 20px;
}

/* setting responsive video size and margin|border */
.project-container > img, .project-container > video {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}

/* setting h2 margins in p element */
.project-container > p, .project-container > h2 {
  margin: 10px;
}

/* aligning h2 titles to center */
.project-container > h2 {
  text-align: center;
}

/* changing colour of h2 title hyperlinks when visited */
.project-container > h2 > a:visited {
  color: #3C4A6D;
}

/* setting position of icons to right by 20px */
.cards-button > h1 > a > i {
  margin-right: 20px;
}

/* media query for xs devices || phones, 600px and down */
@media screen and (max-width: 600px) {
  /* setting font size for paragraph */
  .project-container > p {
    font-size: 20px;
  }
}
/* media query for small devices || portrait tablets, 600px and up*/
@media screen and (min-width: 600px) {
  /* displays items inside container as inline-block */
  .project-container {
    display: inline-block;
  }

  /* setting font size for paragraph*/
  .project-container > p {
    font-size: 30px;
  }

  /* setting font size and aligning h2 hyperlinks in the container*/
  .project-container > h2, .project-container > a {
    font-size: 3em;
    text-align: left;
  }

  /* setting max-width of video and positioning to left */
  .project-container > img, .project-container > video {
    max-width: 900px;
    float: left;
  }

  /* setting projects heading size and alignment */
  .project-title {
    font-size: 4em;
    text-align: center;
  }
}
/* media query for medium devices|| landscape tablets 768 px and up */
@media screen and (min-width: 769px) {
  /* displays container as inline-block */
  .project-container {
    display: inline-block;
  }

  /* sets paragraph front to 20px */
  .project-container > p {
    font-size: 20px;
  }

  /* sets hyperlink headline to 2em font size and aligns to the left */
  .project-container > h2, .project-container > a {
    font-size: 2em;
    text-align: left;
  }

  /* maintains 50% width for video content to the left with 30px margin */
  .project-container > video {
    max-width: 50%;
    float: left;
    margin: 30px;
  }

  /* sets title font to 4em and aligns to center */
  .project-title {
    font-size: 4em;
    text-align: center;
  }
}
/* media query for screens above 1025 */
@media screen and (min-width: 1025px) {
  /* font size changes */
  .project-title {
    font-size: 35px;
  }

  .project-container > h2, .project-container > a {
    font-size: 20px;
    text-align: left;
  }
}
/* media query for screen widths above 2200 and up||this is a buffer */
@media screen and (min-width: 2200px) {
  /* sets container width to screen width and displays as block */
  .project-container {
    max-width: 100%;
    display: block;
  }

  /* sets paragraph container to grid and font to 35px size, bottom gap 80px */
  .project-container > p {
    display: grid;
    font-size: 35px;
    margin-bottom: 80px;
  }

  /* sets video to 50% width */
  .project-container > video {
    max-width: 50%;
  }
}
/* font stacks */
/* color themes */
/* box shadow property */
/* most used margin */
/* set top margin for blog banner */
.header-container {
  margin: 0px 30px;
}

/* sets blog container dimensions and title color */
.blog-header {
  position: relative;
  text-align: center;
  color: white;
  max-width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  /* sets blog banner img dimensions */
}

.blog-image {
  height: auto;
  max-width: 100%;
}

/* set blog text over banner colors and position */
.centered-text {
  font: bold 40px "Roboto", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* blog post grid container */
.post-it-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* indivial post container dimensions */
.post-it-container {
  flex: 0 1 150px;
  margin: 20px;
  width: 100%;
}

/* publish date stylings */
.date-text {
  color: #3C4A6D;
  font-size: 12px;
  font-style: italic;
  opacity: 70%;
}

/* post fonts sizing */
#post-content {
  font-size: 10px;
}

#post-heading {
  font-size: 25px;
}

/* post image dimensions */
.post-img {
  width: auto;
  height: 100px;
}

/* post see article text style */
.post-see {
  font-weight: bold;
  font-size: 10px;
}

/* font stacks */
/* color themes */
/* box shadow property */
/* most used margin */
/* sets up border-box for all margins */
* {
  box-sizing: border-box;
  margin: 0;
}

/* blog post banner */
#blog-image {
  height: auto;
  width: 100%;
}

/* blog post image dimensions */
#article-img {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* blog post page container  */
.blog-article-container {
  margin: 30px;
  display: flex column;
}

/* blog article container width */
.article-container {
  width: 100%;
}

/* blog banner and share margins */
.blog-header, .share-bar {
  margin: 20px 0px;
}

/* share icons flex and text styling */
.share-bar {
  display: flex;
}
.share-bar p {
  color: #3C4A6D;
  font-weight: bold;
}

/* share icon dimensions and styling */
.shareicon {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 30px;
  color: #3C4A6D;
}

/* blog post margins */
.post-title, #blog-date, .article-content {
  margin: 20px 0px;
}

/* divider line styling */
.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.divider .line {
  height: 1px;
  background-color: black;
  width: 80%;
  opacity: 50%;
}

/* previous posts flex and text alignment */
.previous-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* media query for screen width between 1200-1800 */
@media screen and (min-device-width: 1200px) and (max-device-width: 1800px) and (-webkit-min-device-pixel-ratio: 1) {
  .blog-article-container {
    margin: 0px 300px;
  }

  .article-content {
    font-size: 15px;
  }

  #article-img {
    width: 50%;
  }
}
/* font stacks */
/* color themes */
/* box shadow property */
/* most used margin */
/* sets true sizing for margins and padding */
* {
  box-sizing: border-box;
  margin: 0;
}

/* set all font to 20px */
html {
  font-size: 20px;
}

/* set font to Roboto */
h1, h2, h3, a, p, .navbar, .contact-form, textarea {
  font-family: "Roboto", sans-serif;
}

/* sets heading 2 as leaner Roboto with 40px size*/
h2 {
  font: normal 40px "Roboto", sans-serif;
}

/* Navigation bar */
.navbar {
  background-color: #3C4A6D;
  overflow: hidden;
}

/* navbar hyperlinks positioned to left */
.navbar a {
  float: left;
  display: block;
  color: #ffff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.1s ease-in-out;
}

/* navbar hyperlink change color on hover */
.navbar a:hover {
  background-color: #283c66;
  color: #ffff;
}

/* navbar hyperlink color change when visited before */
.navbar a.active {
  background-color: #C7ECFF;
  color: #ffff;
}

/* hides hamburger menu */
.navbar .hamburger {
  display: none;
}

/* front page section */
/* sets up title page container as grid */
.title-container {
  display: grid;
  grid-template-rows: 2fr auto 2fr 2fr;
  height: 100vh;
  width: 100%;
}

/* sets margin to 30px */
.titleleft, .titleright, .cards-button, .resume-button, .contact-form {
  margin: 30px;
}

/* sets left side name title font */
.titleleft {
  text-align: left;
  font: bold 40px "Roboto", sans-serif;
  margin-left: 10%;
}

/* sets right side title font */
.titleright {
  text-align: right;
  font: normal 40px "Roboto", sans-serif;
  margin-right: 10%;
}

/* sets title body paragraph margins */
.titlebody {
  padding: 10px;
  margin: 10px 10px;
}

/* arrow container position and blink animation */
.arrow-container {
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  animation: blink 1s ease-in-out 1s infinite alternate;
}

/* arrow animation */
@keyframes blink {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/* skills section */
/* sets skill container as block */
.skills-container {
  display: block;
  height: 600px;
  width: 100%;
  padding: 10px;
}

/* sets up skills title font */
.skills-title {
  text-align: right;
  font: normal 40px "Roboto", sans-serif;
  margin: 30px;
  margin-bottom: 20px;
}

/* skills grid */
.skill-grid {
  padding: 0px;
  margin-bottom: 20px;
}

/* sets grid style no bullet point and content alignment */
.skill-grid > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  text-align: center;
  list-style: none;
  padding-inline-start: 0px;
}

/* skill icon properties */
.skill-icon {
  margin: 5px;
  padding: 12px;
  text-align: center;
  font-size: 80px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: #3C4A6D;
  color: #ffff;
  box-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
  transition: transform 0.2s ease-in-out;
}

/* skill icon on hover */
.skill-icon:hover {
  transform: scale(1.1);
}

/* skills image */
.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  /* centers the block */
  margin-left: auto;
  margin-right: auto;
}

/* sets laptop avatar width */
.responsive-image.laptopavi {
  max-width: 379px;
}

/* sets bike footer avar width */
.responsive-image.bikeavi {
  max-width: 800px;
}

/* projects blog contact container */
.cards-container {
  width: 100%;
  height: 100%;
}

/* sets up button style */
.button, input[type=submit] {
  display: flex;
  width: 100%;
  background: #3C4A6D;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
}

/* project and blog card text color height  */
.projects, .blog, .contact {
  color: #ffff;
  height: 300px;
  filter: grayscale(0%);
}

/* resume button */
.resume {
  height: 100px;
}

/* project card background with scroll */
#project {
  background: url("/images/sacwool2.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/* blog card background with scroll */
#blog {
  background: url("/images/games-source/RIGHT_TO_RULE/3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/* contact card background with scroll */
#contact {
  background: url("/images/games-source/1BOX_1BUTTON/4.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(100%);
}

/* card hyperlink white no underline */
.cards-button > h1 > a {
  text-decoration: none;
  color: #ffff;
}

/* makes visited text white no underline */
.cards-button > h1 > a:visited {
  text-decoration: none;
  color: #ffff;
}

/* sets filter animation for cards and resume button*/
.cards-button, .resume-button {
  transition: filter 0.2s ease-in-out;
}

/* filter animation */
.cards-button:hover, .resume-button:hover {
  filter: opacity(60%);
}

/* resume button */
.resume-button .button, input[type=submit] {
  border-radius: 57px;
  text-decoration: none;
  color: #ffff;
}

/* sets resume button visited link color */
.resume-button > h1 > a:visited {
  color: #C7ECFF;
}

/* social media container and fontawesome icons */
.social-media-icons {
  display: flex;
  justify-content: center;
  margin: 40px;
}

/* social media icon dimensions and styling */
.social-media-icons .fab {
  padding: 15px;
  font-size: 70px;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  background: #3C4A6D;
  color: #3C4A6D;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
}

/* sets hover opacity animation on icon */
.social-media-icons .fab:hover {
  opacity: 0.7;
}

/* changes social media icon color when visited */
.social-media-icons .fab:visited {
  color: #C7ECFF;
}

/* media queries on bottom as it loads last */
/* media screen query under 375 */
@media screen and (max-width: 375px) {
  /* font size changes */
  .titleleft > h1 {
    font-size: 40px;
  }

  .titleright > h1 {
    font-size: 40px;
  }

  .titlebody > p {
    font-size: 15px;
  }
}
/* media screen query between 376 and 599 */
@media screen and (min-width: 376px) and (max-width: 599px) {
  /* font size changes */
  .titleleft > h1, .titleright > h1 {
    font-size: 50px;
  }

  .titlebody > p {
    font-size: 20px;
  }

  #blog {
    background-position-y: 0px;
  }

  /* changes amount of skills that can fit in the row */
  .skill-grid > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-items: center;
    text-align: center;
    list-style: none;
    padding-inline-start: 0px;
  }
}
/* media query for navbar */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.hamburger {
    float: right;
    display: block;
  }
}
/* media query for screens under 600px navbar */
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* media query for screens under 600px */
@media screen and (max-width: 600px) {
  /* change title page to column */
  .title-container {
    display: grid;
    grid-template-areas: "titleleft" "titleright" "titlebody";
    grid-template-columns: 1fr;
  }

  .titleleft {
    grid-area: titleleft;
  }

  .titleright {
    grid-area: titleright;
  }

  .titlebody {
    grid-area: titlebody;
  }

  .titleleft, .titleright {
    font-size: 40px;
  }

  .titlebody {
    text-align: center;
  }
}
/* media screen query for above 768px */
@media screen and (min-width: 768px) {
  /* font change */
  .titleleft, .titleright {
    font-size: 40px;
  }

  .titlebody {
    font-size: 30px;
    text-align: center;
  }

  #arrow {
    font-size: 50px;
  }

  #blog {
    background-position-y: -60px;
  }

  /* change amount of skill icons fit in the row */
  .skill-grid > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    text-align: center;
    list-style: none;
    padding-inline-start: 0px;
  }

  /* scales skill icon */
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 80px;
  }

  .skill-grid > ul > li > p {
    font-size: 25px;
  }
}
/* media screen query for above 1025px */
@media screen and (min-width: 1025px) {
  /* font size and arrow changes */
  .titleright > h1, .titleleft > h1 {
    font-size: 35px;
  }

  .titlebody > p {
    font-size: 18px;
  }

  #arrow {
    font-size: 30px;
  }

  /* changes amount of skill icons fit in a row */
  .skill-grid > ul {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  /* scales up skill icons */
  .skill-icon {
    width: 150px;
    height: 150px;
    font-size: 120px;
  }
}
/* screens above 1281px has font changed to fit */
@media screen and (min-width: 1281px) {
  .titleleft, .titleright {
    font-size: 40px;
  }

  .titlebody {
    font-size: 40px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
