/* import partials */
/* font stacks */
label {
  font-weight: bold;
}

.form-container {
  margin-top: 40px;
  display: flex wrap;
  width: 100%;
  align-items: stretch;
  flex: column;
}

.contact-title {
  text-align: center;
  padding: 10px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
  margin-bottom: 10px;
}

#message {
  height: 200px;
}

input[type=submit] {
  height: 80px;
  font-size: 40px;
}

input[type=submit]:hover {
  filter: opacity(60%);
  cursor: pointer;
}

/* container settings */
fieldset {
  border-radius: 25px;
  border-color: rgba(255, 255, 255, 0.438);
  box-shadow: 0px 4px 4px 0px rgba(169, 214, 255, 0.25);
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .form-container {
    height: 70vh;
  }

  #message {
    height: 400px;
  }
}
/* font stacks */
/* margin around Projects heading */
.project-title {
  margin: 30px;
}

/* margin around Projects container */
.project-container {
  margin: 20px;
}

/* setting responsive video size and margin|border */
.project-container > img, .project-container > video {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}

/* setting h2 margins in p element */
.project-container > p, .project-container > h2 {
  margin: 10px;
}

/* aligning h2 titles to center */
.project-container > h2 {
  text-align: center;
}

/* changing colour of h2 title hyperlinks when visited */
.project-container > h2 > a:visited {
  color: #C7ECFF;
}

/* setting position of icons to right by 20px */
.cards-button > h1 > a > i {
  margin-right: 20px;
}

/* media query for xs devices || phones, 600px and down */
@media screen and (max-width: 600px) {
  /* setting font size for paragraph */
  .project-container > p {
    font-size: 20px;
  }
}
/* media query for small devices || portrait tablets, 600px and up*/
@media screen and (min-width: 600px) {
  /* displays items inside container as inline-block */
  .project-container {
    display: inline-block;
  }

  /* setting font size for paragraph*/
  .project-container > p {
    font-size: 30px;
  }

  /* setting font size and aligning h2 hyperlinks in the container*/
  .project-container > h2, .project-container > a {
    font-size: 3em;
    text-align: left;
  }

  /* setting max-width of video and positioning to left */
  .project-container > img, .project-container > video {
    max-width: 900px;
    float: left;
  }

  /* setting projects heading size and alignment */
  .project-title {
    font-size: 4em;
    text-align: center;
  }
}
/* media query for medium devices|| landscape tablets 768 px and up */
@media screen and (min-width: 769px) {
  /* displays container as inline-block */
  .project-container {
    display: inline-block;
  }

  /* sets paragraph front to 20px */
  .project-container > p {
    font-size: 20px;
  }

  /* sets hyperlink headline to 2em font size and aligns to the left */
  .project-container > h2, .project-container > a {
    font-size: 2em;
    text-align: left;
  }

  /* maintains 50% width for video content to the left with 30px margin */
  .project-container > video {
    max-width: 50%;
    float: left;
    margin: 30px;
  }

  /* sets title font to 4em and aligns to center */
  .project-title {
    font-size: 4em;
    text-align: center;
  }
}
/* media query for screen widths above 2200 and up||this is a buffer */
@media screen and (min-width: 2200px) {
  /* sets container width to screen width and displays as block */
  .project-container {
    max-width: 100%;
    display: block;
  }

  /* sets paragraph container to grid and font to 35px size, bottom gap 80px */
  .project-container > p {
    display: grid;
    font-size: 35px;
    margin-bottom: 80px;
  }

  /* sets video to 50% width */
  .project-container > video {
    max-width: 50%;
  }
}
/* font stacks */
/* sets true sizing for margins and padding */
* {
  box-sizing: border-box;
  margin: 0;
}

/* set all font to 20px */
html {
  font-size: 20px;
}

/* set font to Roboto */
h1, h2, p, .navbar, .contact-form, textarea {
  font-family: "Roboto", sans-serif;
}

/* sets heading 2 as leaner Roboto with 40px size*/
h2 {
  font: normal 40px "Roboto", sans-serif;
}

/* Navigation bar */
.navbar {
  background-color: #3C4A6D;
  overflow: hidden;
}

/* navbar hyperlinks positioned to left */
.navbar a {
  float: left;
  display: block;
  color: #ffff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.1s ease-in-out;
}

/* navbar hyperlink change color on hover */
.navbar a:hover {
  background-color: #283c66;
  color: #ffff;
}

/* navbar hyperlink color change when visited before */
.navbar a.active {
  background-color: #C7ECFF;
  color: #ffff;
}

/* hides hamburger menu */
.navbar .hamburger {
  display: none;
}

/* front page section */
/* sets up title page container as grid */
.title-container {
  display: grid;
  grid-template-rows: 2fr auto 2fr 2fr;
  height: 100vh;
  width: 100%;
}

/* sets margin to 30px */
.titleleft, .titleright, .cards-button, .resume-button, .contact-form {
  margin: 30px;
}

/* sets left side name title font */
.titleleft {
  text-align: left;
  font: bold 40px "Roboto", sans-serif;
  margin-left: 10%;
}

/* sets right side title font */
.titleright {
  text-align: right;
  font: normal 40px "Roboto", sans-serif;
  margin-right: 10%;
}

/* sets title body paragraph margins */
.titlebody {
  padding: 10px;
  margin: 10px 10px;
}

/* arrow container position and blink animation */
.arrow-container {
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  animation: blink 1s ease-in-out 1s 20 alternate;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/* skills section */
/* sets skill container as block */
.skills-container {
  display: block;
  height: 600px;
  width: 100%;
  padding: 10px;
}

/* sets up skills title font */
.skills-title {
  text-align: right;
  font: normal 40px "Roboto", sans-serif;
  margin: 30px;
  margin-bottom: 20px;
}

/* skills grid */
.skill-grid {
  padding: 0px;
  margin-bottom: 20px;
}

/* sets grid style no bullet point and content alignment */
.skill-grid > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  text-align: center;
  list-style: none;
  padding-inline-start: 0px;
}

/* skill icon properties */
.skill-icon {
  margin: 5px;
  padding: 12px;
  text-align: center;
  font-size: 80px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: #3C4A6D;
  color: #ffff;
  box-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
  transition: transform 0.2s ease-in-out;
}

.skill-icon:hover {
  transform: scale(1.1);
}

/* skills image */
.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  /* centers the block */
  margin-left: auto;
  margin-right: auto;
}

/* sets laptop avatar width */
.responsive-image.laptopavi {
  max-width: 379px;
}

/* sets bike footer avar width */
.responsive-image.bikeavi {
  max-width: 800px;
}

/* projects blog contact container */
.cards-container {
  width: 100%;
  height: 100%;
}

/* sets up button style */
.button, input[type=submit] {
  display: flex;
  width: 100%;
  background: #3C4A6D;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
}

/* project and blog card text color height  */
.projects, .blog, .contact {
  color: #ffff;
  height: 300px;
  filter: grayscale(0%);
}

/* resume button */
.resume {
  height: 100px;
}

#project {
  background: url("/images/sacwool2.png") no-repeat center;
  background-size: cover;
}

#blog {
  background: url("/images/games-source/RIGHT_TO_RULE/3.jpg") no-repeat center;
  background-size: cover;
}

#contact {
  background: url("/images/games-source/1BOX_1BUTTON/4.jpg") no-repeat center;
  background-size: cover;
  filter: brightness(100%);
}

/* card effects */
.cards-button > h1 > a {
  text-decoration: none;
  color: #ffff;
}

.cards-button > h1 > a:visited {
  text-decoration: none;
  color: #ffff;
}

.cards-button, .resume-button {
  transition: filter 0.2s ease-in-out;
}

.cards-button:hover, .resume-button:hover {
  filter: opacity(60%);
}

/* resume button */
.resume-button .button, input[type=submit] {
  border-radius: 57px;
  text-decoration: none;
  color: #ffff;
}

.resume-button > h1 > a:visited {
  color: #C7ECFF;
}

/* social media container and fontawesome icons */
.social-media-icons {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.social-media-icons .fab {
  padding: 15px;
  font-size: 70px;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  background: #3C4A6D;
  color: #3C4A6D;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(1, 109, 209, 0.25);
}

.social-media-icons .fab:hover {
  opacity: 0.7;
}

.social-media-icons .fab:visited {
  color: #C7ECFF;
}

/* media queries on bottom as it loads last */
@media screen and (max-width: 375px) {
  .titleleft > h1 {
    font-size: 40px;
  }

  .titleright > h1 {
    font-size: 40px;
  }

  .titlebody > p {
    font-size: 15px;
  }
}
@media screen and (min-width: 375px) and (max-width: 375) {
  .titleleft > h1, .titleright > h1 {
    font-size: 1px;
    color: red;
  }
}
@media screen and (min-width: 376px) and (max-width: 599px) {
  .titleleft > h1, .titleright > h1 {
    font-size: 50px;
  }

  .titlebody > p {
    font-size: 20px;
  }

  #blog {
    background-position-y: 0px;
  }

  .skill-grid > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-items: center;
    text-align: center;
    list-style: none;
    padding-inline-start: 0px;
  }
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.hamburger {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .title-container {
    display: grid;
    grid-template-areas: "titleleft" "titleright" "titlebody";
    grid-template-columns: 1fr;
  }

  .titleleft {
    grid-area: titleleft;
  }

  .titleright {
    grid-area: titleright;
  }

  .titlebody {
    grid-area: titlebody;
  }

  .titleleft, .titleright {
    font-size: 40px;
  }

  .titlebody {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .titleleft, .titleright {
    font-size: 40px;
  }

  .titlebody {
    font-size: 30px;
    text-align: center;
  }

  #arrow {
    font-size: 50px;
  }

  #blog {
    background-position-y: -60px;
  }

  .skill-grid > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    text-align: center;
    list-style: none;
    padding-inline-start: 0px;
  }

  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 80px;
  }

  .skill-grid > ul > li > p {
    font-size: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .titleright > h1, .titleleft > h1 {
    font-size: 45px;
  }

  .titlebody > p {
    font-size: 18px;
  }

  #arrow {
    font-size: 30px;
  }

  .skill-grid > ul {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .skill-icon {
    width: 150px;
    height: 150px;
    font-size: 120px;
  }
}
@media screen and (min-width: 1281px) {
  .titleleft, .titleright {
    font-size: 40px;
  }

  .titlebody {
    font-size: 40px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
